VOLCENGINE_ARK_API_KEY=
VOLCENGINE_ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
VOLCENGINE_ARK_MODEL=
VOLCENGINE_ASR_APP_ID=
VOLCENGINE_ASR_ACCESS_TOKEN=
VOLCENGINE_ASR_CLUSTER=volcengine_input_common
VOLCENGINE_ASR_RESOURCE_ID=volc.seedasr.auc
VOLCENGINE_ASR_ENDPOINT=https://openspeech.bytedance.com/api/v3/auc/bigmodel
VOLCENGINE_ASR_UID=lingli-desktop
VOLCENGINE_ASR_MAX_QUERY_ATTEMPTS=10
VOLCENGINE_STREAM_ASR_ENDPOINT=wss://openspeech.bytedance.com/api/v3/sauc/bigmodel
VOLCENGINE_STREAM_ASR_RESOURCE_ID=volc.bigasr.sauc.duration
VOLCENGINE_TTS_APP_ID=
VOLCENGINE_TTS_ACCESS_TOKEN=
VOLCENGINE_TTS_ENDPOINT=wss://openspeech.bytedance.com/api/v3/tts/bidirection
VOLCENGINE_TTS_RESOURCE_ID=volc.service_type.10029
VOLCENGINE_TTS_VOICE=
APPLE_MUSIC_DEVELOPER_TOKEN=
